/* Colours: */
/* Mixins */
/* Typography: */
h1 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "mr-eaves-xl-modern",sans-serif;
  color: #D0021B;
  font-weight: 300;
  font-size: 68px;
  line-height: 72px;
  margin: 24px 0px 0px 0px; }
  @media screen and (max-width: 970px) {
    h1 {
      font-size: 42px;
      line-height: 48px; } }

.header__jumbo {
  font-size: 80px;
  line-height: 88px; }
  @media screen and (max-width: 970px) {
    .header__jumbo {
      font-size: 56px;
      line-height: 64px; } }

h2, .list-contact-details, .button {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "mr-eaves-xl-modern",sans-serif;
  font-size: 26px;
  font-weight: 300;
  line-height: 48px;
  margin: 24px 0px 24px 0px; }
  @media screen and (max-width: 640px) {
    h2, .list-contact-details, .button {
      font-weight: 300; } }

.section-header {
  margin-top: 48px; }

p, .section-label {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "mr-eaves-xl-modern",sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0px 0px 24px 0px; }

a {
  color: #222222;
  text-decoration: none; }
  a:hover {
    transition: 0.3s ease;
    color: #4A90E2;
    text-decoration: none; }

.list-contact-details {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "mr-eaves-xl-modern",sans-serif;
  padding: 0px 0px 0px 0px;
  list-style-type: none; }

li {
  margin: 0px 24px 0px 0px; }
  @media screen and (min-width: 640px) {
    li {
      display: inline; } }

.label-contact {
  color: #D0021B;
  font-weight: 300;
  margin: 0px 16px 0px 0px; }

.section-label {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "mr-eaves-xl-modern",sans-serif;
  font-weight: 600;
  padding: 8px 0px 8px 0px;
  position: relative;
  top: -20px;
  border: 1px solid #F4F4F4;
  background: #FFFFFF;
  color: #222222;
  border-radius: 0px; }

.button {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "mr-eaves-xl-modern",sans-serif;
  color: #222222;
  background: none;
  border-radius: 2px; }
  .button:hover {
    transition: 0.3s ease;
    color: #4A90E2;
    text-decoration: none; }

.background-white {
  background: #FFFFFF; }

.background-grey {
  background: #f9f9f9; }

.background--gradient {
  background-image: linear-gradient(-135deg, #FFFFFF 0%, #FBFBFB 100%); }

html, body {
  height: 100%; }

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center; }

.image-mask {
  background: #F4F4F4;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  margin: 40px 0px 80px 0px; }
  @media screen and (max-width: 768px) {
    .image-mask {
      margin: 0px 0px 48px 0px; } }
  .image-mask:hover {
    transition: 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.1);
    transform: scale(1.01, 1.01);
    transform-origin: center; }

.chevron::before {
  border-style: solid;
  border-color: #D0021B;
  border-width: 1px 1px 0 0;
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  position: relative;
  top: 1px;
  transform: rotate(-45deg); }

.chevron.right:before {
  left: 0;
  transform: rotate(45deg); }

.container {
  padding: 0 64px 0 64px; }
  @media screen and (max-width: 970px) {
    .container {
      padding: 0 8px 0 8px; } }
  @media screen and (max-width: 768px) {
    .container {
      margin-left: 16px;
      margin-right: 16px; } }

@keyframes popout {
  0% {
    transform: scale(1, 1) translateX(-24px);
    transform-origin: left bottom;
    opacity: 0; }
  1% {
    opacity: 1; }
  100% {
    transform: scale(1, 1); } }
.phone {
  border: 2px solid #222222;
  border-radius: 6px;
  margin: 12px 8px 0 8px;
  height: 36px;
  width: 24px;
  position: relative;
  animation-name: popout;
  animation-duration: 0.4s;
  animation-timing-function: ease-out; }
  .phone .home-button {
    left: 8px; }

.tablet {
  border: 2px solid #222222;
  border-radius: 6px;
  margin: 12px 8px 0 8px;
  height: 60px;
  width: 44px;
  position: relative;
  animation-name: popout;
  animation-duration: 0.6s;
  animation-timing-function: ease-out; }
  .tablet .home-button {
    left: 18px; }

.browser {
  border: 2px solid #222222;
  border-radius: 6px;
  margin: 12px 8px 0 8px;
  height: 44px;
  width: 60px;
  position: relative;
  animation-name: popout;
  animation-duration: 0.8s;
  animation-timing-function: ease-out; }
  .browser .home-button {
    left: 18px; }

.watch {
  border: 2px solid #222222;
  border-radius: 4px;
  margin: 12px 8px 0 8px;
  height: 12px;
  width: 12px;
  position: relative;
  animation-name: popout;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.home-button {
  border: 2px solid #222222;
  border-radius: 2px;
  height: 4px;
  width: 4px;
  position: absolute;
  bottom: 4px; }

.window-button-1, .window-button-2, .window-button-3 {
  background: #222222;
  border-radius: 1px;
  height: 2px;
  width: 2px;
  position: absolute;
  top: 4px;
  left: 4px; }

.window-button-2 {
  left: 7px; }

.window-button-3 {
  left: 10px; }

.side-button {
  background: #222222;
  border-radius: 2px;
  height: 3px;
  width: 3px;
  position: absolute;
  top: 1px;
  left: 8px; }

.outer {
  height: 96px; }

.inner {
  display: inline-block; }

/*# sourceMappingURL=custom-styles.css.map */
