/* Colours: */
$color-grey-05: #F4F4F4;
$color-grey-15: #DBDBDB;
$color-grey-30: #ACACAC;
$color-grey-50: #808080;
$color-grey-80: #2C2C2C;
$color-grey-90: #222222;
$color-white: #FFFFFF;
$color-blue: #4A90E2;
$color-red: #D0021B;
$color-yellow: yellow;

/* Mixins */
@mixin all-text {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
@mixin sans-serif {
	@include all-text;
  font-family: "freight-sans-pro",sans-serif;
}

/* Typography: */
h1 {
  @include sans-serif;
  color: $color-red;
  font-weight: 300;
	font-size: 68px;
  line-height: 72px;
	margin: 24px 0px 0px 0px;
  @media screen and (max-width: 640px) {
  	font-size: 42px;
  	line-height: 48px;
  }
}
h2 {
  @include sans-serif;
  color: $color-grey-90;
	font-size: 26px;
	font-weight: 700;
	line-height: 48px;
	margin: 24px 0px 24px 0px;
	a {
		color: $color-grey-90;
    text-decoration: none;
		&:hover{
      color: $color-grey-90;
			transition: 0.3s ease;
      color: $color-blue;
      text-decoration: none;
		}
	}
}
p {
	@include sans-serif;
	font-size: 16px;
	font-weight: 400;
  line-height: 24px;
	a {
		color: $color-grey-90;
    text-decoration: none;
		&:hover{
      color: $color-grey-90;
			transition: 0.3s ease;
      color: $color-blue;
      text-decoration: none;
		}
	}
}
.list-contact-details {
  @include all-text;
  @include sans-serif;
  @extend h2;
  padding: 0px;
  list-style-type: none;
}
li {
  line-height: 48px; // To add space between email, phone and presever vertical rhythm  
  margin: 0px 24px 0px 0px;
  @media screen and (min-width: 640px) {
  	display: inline; // On small devices inline doesn't work as the phone number breaks half way
  }
}
.label-contact {
  color: $color-red;
	font-weight: 300;
  margin: 0px 16px 0px 0px;
}

// Themes
.background-white {
	background: $color-white;
}

// Layout
html, body {
  height: 100%;
}
.vertical-center {
  min-height: 100%;  // Fallback for browsers do NOT support vh unit
  min-height: 100vh; // These two lines are counted as one :-)
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
	.container {
		margin-left: 16px;
		margin-right: 16px;
	}
}
