/* Colours: */
$color-grey-05: #F4F4F4;
$color-grey-15: #DBDBDB;
$color-grey-30: #ACACAC;
$color-grey-50: #808080;
$color-grey-80: #2C2C2C;
$color-grey-90: #222222;
$color-white: #FFFFFF;
$color-blue: #4A90E2;
$color-red: #D0021B;
$color-yellow: yellow;

/* Mixins */
@mixin all-text {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
@mixin sans-serif {
	@include all-text;
  font-family: "freight-sans-pro",sans-serif;
}
@mixin link {
	color: $color-grey-90;
  text-decoration: none;
	&:hover{
		transition: 0.3s ease;
    color: $color-blue;
    text-decoration: none;
	}
}

/* Typography: */
h1 {
  @include sans-serif;
  color: $color-red;
  font-weight: 300;
	font-size: 68px;
  line-height: 72px;
	margin: 24px 0px 0px 0px;
  @media screen and (max-width: 970px) {
  	font-size: 42px;
  	line-height: 48px;
  }
}
h2 {
  @include sans-serif;
	font-size: 26px;
	font-weight: 300;
	line-height: 48px;
	margin: 24px 0px 24px 0px;
  @media screen and (max-width: 640px) {
  	font-weight: 300;
  }
}
.section-header {
  margin-top: 48px;
}
p {
	@include sans-serif;
  color: $color-grey-90;
	font-size: 16px;
	font-weight: 300;
  line-height: 24px;
  margin: 0px 0px 24px 0px;
}
a {
 @include link;
}
.list-contact-details {
  @include all-text;
  @include sans-serif;
  @extend h2;
  padding: 0px 0px 0px 0px;
  list-style-type: none;
}
li {
  margin: 0px 24px 0px 0px;
  @media screen and (min-width: 640px) {
  	display: inline; // On small devices inline doesn't work as the phone number breaks half way
  }
}
.label-contact {
  color: $color-red;
	font-weight: 300;
  margin: 0px 16px 0px 0px;
}

.section-label {
	@include sans-serif;
  @extend p;
	font-weight: 600;
  padding: 8px 0px 8px 0px;
  position: relative;
  top: -20px;
  border: 1px solid $color-grey-05;
  background: $color-white;
  color:$color-grey-90;
  border-radius: 0px;
}

.button {
	@include sans-serif;
  @extend h2;
	//font-weight: 300;
  //margin: 48px 0px 24px 0px;
  //padding: 2px 0px 2px 0px;
  color: $color-grey-90;
  background: none;
  //border: 1px solid $color-grey-15;
  border-radius: 2px;
	&:hover{
		transition: 0.3s ease;
    color: $color-blue;
    text-decoration: none;
    //background: $color-grey-05;
    //opacity: 0.5;
    //border: 1px solid darken($color-grey-90, 15% );
	}
}

// Themes
.background-white {
	background: $color-white;
}

.background-grey {
	background: lighten($color-grey-05, 2% );
}

// Layout
html, body {
  height: 100%;
}
.vertical-center {
  min-height: 100%;  // Fallback for browsers do NOT support vh unit
  min-height: 100vh; // These two lines are counted as one :-)
  display: flex;
  align-items: center;
  //border-bottom: 1px $color-grey-05 solid;
}

.image-mask {
  background: $color-grey-05;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.08);
  border-radius: 8px;
  margin: 40px 0px 80px 0px;
  @media screen and (max-width: 768px) {
    margin: 0px 0px 48px 0px;
  }
	&:hover{
		transition: 0.5s cubic-bezier(.17,.67,.83,.67);
    box-shadow: 0px 0px 48px 0px rgba(0,0,0,0.10);
    transform: scale(1.01, 1.01);
    transform-origin: center;
	}
}

.chevron::before {
	border-style: solid;
  border-color: $color-red;
	border-width: 1px 1px 0 0;
	content: '';
	display: inline-block;
	height: 16px;
  width: 16px;
	//right: 0.15em;
	position: relative;
	top: 1px;
	transform: rotate(-45deg);
	//vertical-align: top;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}


.container { // The 12 column layout is too wide and this makes it a bit more narrow.
  padding: 0 64px 0 64px;
  @media screen and (max-width: 970px) {
    padding: 0 8px 0 8px;
  }
  @media screen and (max-width: 768px) {
		margin-left: 16px;
		margin-right: 16px;
  }
}