/* Colours: */

$white: #FFFFFF;
$alabaster: #FAFAFA;
$wild-sand: #F4F4F4;
$mercury: #E5E5E5;
$alto: #DBDBDB;
$silver-chalice: #ACACAC;
$grey: #808080;
$mine-shaft: #323232;
$astral: #327DA0;

.yellow-bg {
	background: yellow;
}

.grey-bg {
	background: $alabaster;
}


/* Mixins */

@mixin all-text {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

@mixin extra-padding {
	padding-bottom: 96px;
	@media screen and (max-width: 480px) {
		padding-bottom: 32px;
	}
}

@mixin sans-serif {
	@include all-text;
	font-family: "Menlo", "Monaco" sans-serif;
}

@mixin serif {
	@include all-text;
	font-family: "freight-text-pro", Georgia, serif;
}

@mixin hover {
	transition: 0.3s ease;
	opacity: 0.8;
}

@mixin hover-btn {
	transition: 0.3s ease;
	opacity: 1;
	background-color: $mine-shaft;
	color:$white;
	border: 1px solid $mine-shaft;
}

/* Typography: */

.jumbotron {
	
	h1 {
		@include sans-serif;
		text-transform: uppercase;
		font-size: 64px;
		color: $mine-shaft;
		font-weight: 900;
		margin: 0px 0px 24px 0px;
			@media screen and (max-width: 640px) {
				font-size: 32px;
				font-weight: 900;
			}
	}
	
	h2 {
		@include sans-serif;
		font-size: 16px;
		color: $mine-shaft;
		font-weight: 400;
		line-height: 24px;
		margin: 0px 0px 34px 0px;
		@media screen and (max-width: 640px) {
			font-size: 18px;
			font-weight: 400;
		}
	}

}


.contact {
	@include sans-serif;
	font-size: 16px;
	color: $mine-shaft;
	.label {
		@extend .contact;
		font-weight: 600;
		padding-left: 0px;
	}
	a {
		@extend .contact;
		padding-right: 20px;
		text-decoration: none;
		opacity:0.6;
		&:hover {
			transition: 0.3s ease;
			opacity: 1;	
		}
	}
}

.extra-padding {
	@include extra-padding;
}


.container p {
	@include sans-serif;
	padding-top: 10px;
	font-size: 20px;
	font-weight: 200;
	@media screen and (max-width: 480px) {
		font-size: 16px;
	}
	a {
		color: $grey;
		text-decoration: none;
		&:hover{
			color: $mine-shaft;
		}
	}
}


/* Elements */

.col-sm-10 { // this gives more space on mobile
	@media screen and (max-width: 480px) {
		padding-left: 30px;
		padding-right: 30px;
	}
}

.btn {
	@include sans-serif;
	font-weight:600;
	letter-spacing: 1.2px;
	background: $white;
	color: $mine-shaft;
	border: 1px solid $mine-shaft;
	border-radius: 1px;
	width: 120px;
	height: 30px;
	margin-right: 6px;
	padding-top:2px;
	&:hover {
		@include hover-btn;
	}
	a {
		text-decoration: none;	
	}	
}

/* Structure */

html, body {
  height: 100%;
}

.jumbotron.vertical-center {
  margin-bottom: 0;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh; 
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 

    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;

  width: 100%;
  
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

.footer {
	height:80px;
	a {
		text-decoration: none;
		&:hover {
			@include hover;
		}
		&:visited { // I'm trying to disabled the active state on iPad after clicking on links, work in progress...
			text-decoration: none; 
			decoration: none;
			opacity:1 !important;
		}
	}
	img {
		margin: 6px;
		height: 30px;
		border-radius: 15px;
	} 
}